<section class="bg-gradient text-white gap-5 p-2">
  <h2 class="text-4xl text-white">Add or delete products!</h2>
  <div class="flex gap-3 rounded bg-sky-600 p-3">
    {{! form to add Products }}
    <form id="formAddProduct" action="#" class="p-3 bg-slate-800 rounded flex flex-col items-center gap-2">
      <p class="text-center text-sky-600 pb-2 text-2xl w-3/4">Fill these fields
        to add a product</p>
      <p>About your product :</p>
      <input required type="text" class="p-1 rounded" name="title" id="newTitle" placeholder="Title" />
      <input required type="text" class="p-1 rounded" name="price" id="newPrice" placeholder="Price" />
      <input required type="text" class="p-1 rounded" name="thumbnails" id="newThumbnails" placeholder="URL image" />
      <input required type="text" class="p-1 rounded" name="code" id="newCode" placeholder="Code" />

      <input required type="text" class="p-1 rounded" name="stock" id="newStock" placeholder="Stock" />
      <input required type="text" class="p-1 rounded" name="category" id="newCategory" placeholder="Category" />
      <label for="newStatus" class="text-slate-500">
        Status:
        <select name="status" id="newStatus" class="rounded text-white">
          <option value="true" selected>True</option>
          <option value="false">False</option>
        </select>
      </label>
      <textarea required maxlength="120" name="description" id="newDescription"
        class="bg-slate-600 text-sm p-1 rounded resize-none focus:outline-none focus:border-sky-600 focus:ring-sky-600 focus:ring-1"
        cols="30" rows="7" placeholder="Description"></textarea>
      <button type="submit"
        class="px-3 py-2 text-sky-600 w-full ease-out duration-300 rounded ring-2 hover:bg-slate-700" id="btn-Add">Add
        Product</button>
    </form>
    {{! form to delete product }}
    <form id="formDeleteProduct" class="p-3 bg-slate-800 rounded flex flex-col items-center gap-2">
      <p class="text-center text-sky-600 pb-2 text-2xl w-3/4">Delete a specific
        product by ID</p>
      <br />
      <input required type="text" class="p-1 rounded" name="productId" id="productId" placeholder="Product ID" />
      <button type="submit"
        class="px-3 py-2 mt-auto text-sky-600 w-full ease-out duration-300 rounded ring-2 hover:bg-slate-700"
        id="btn-Delete">Delete Product</button>
    </form>
  </div>
  {{!-- Products template --}}
  <h3 class="text-4xl text-white">Products</h3>
  <ul id="ls-products" class="list-none ls-products p-2 bg-white/10 backdrop-blur-md rounded">
    <template id="template">
      <li class="rounded bg-slate-800 p-1 flex flex-col items-center justify-center gap-1 h-full" id="card">
        <div class="flex flex-col items-center justify-center">
          <p class="text-blue-300" id="title"></p>
          <p class="text-md" id="id"></p>
        </div>
        <img src="" id="img" class="w-40 h-40 object-cover" alt="image of" />
        <div class="text-sm bg-slate-600 rounded p-2 w-full h-full break-words">
          <p class="text-slate-800">
            Category:
            <span id="category" class="text-white"></span>
          </p>
          <p class="text-slate-800">
            Code:
            <span id="code" class="text-white"></span>
          </p>
          <p class="text-slate-800">
            Price:
            <span id="price" class="text-white"></span>
          </p>
          <p class="text-slate-800">
            Stock:
            <span id="stock" class="text-white"></span>
          </p>
          <p class="text-slate-800">
            Description:
            <span id="description" class="text-white"></span>
          </p>
        </div>
      </li>
    </template>
  </ul>
</section>
<script src="/socket.io/socket.io.js"></script>
<script src={{scriptPath}}></script>